<h2>Food List</h2>
<input type="text" [(ngModel)]="searchText" placeholder="Search by name">
<div *ngFor="let food of filteredFoods">
  <img [src]="food.imageSrc" alt="{{ food.name }}" width="100">
  <p>Name: {{ food.name }}</p>
  <p>Calories: {{ food.calories }}</p>
  <button (click)="addToTodaysFoods(food)">Add to Today's Foods</button>
</div>

<hr>
<h2>Today's Foods</h2>
<p>Total Calories: {{ totalCalories }}</p>
<div *ngFor="let food of todaysFoods">
  <p>{{ food.name }} x{{ food.quantity }}</p>
</div>
