<div>
  <input type="text" [(ngModel)]="searchText" placeholder="Search by name" />
</div>
<div *ngFor="let food of foods | foodFilter: searchText">
  <img [src]="food.image" alt="Food Image" />
  <p>Name: {{ food.name }}</p>
  <p>Calories: {{ food.calories }}</p>
  <input type="number" [(ngModel)]="food.quantity" />
  <button (click)="addToTodaysFoods(food, food.quantity)">Add to Today's List</button>
</div>

<button (click)="showAddForm = !showAddForm">Add New Food</button>
<div *ngIf="showAddForm">
  <form>
    <input type="text" [(ngModel)]="newFood.name" placeholder="Food Name" />
    <input type="number" [(ngModel)]="newFood.calories" placeholder="Calories" />
    <input type="text" [(ngModel)]="newFood.image" placeholder="Image URL" />
    <button type="button" (click)="addFood()">Submit</button>
  </form>
</div>
